<li><a class="btn btn-secondary" href="{{ path('app_initial_homepage')}}">{% trans %}Homepage{% endtrans %}</a></li>
<li><a class="btn btn-secondary" href="{{ path('app_initial_defaults')}}">{% trans %}Defaults Index{% endtrans %}</a></li>
<li><a class="btn btn-secondary" href="{{ path('app_vhost_type_index')}}">{% trans %}Vhost Types Index{% endtrans %}</a></li>
<li><a class="btn btn-secondary" href="{{ path('app_vhost_index')}}">{% trans %}Vhost Index{% endtrans %}</a></li>
