{% extends 'base.html.twig' %}

{% block title %}Edit Initial{% endblock %}

{% block body %}
    <h1>Edit Initial</h1>

    {{ include('initial/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_initial_index') }}">back to list</a>

    {{ include('initial/_delete_form.html.twig') }}
{% endblock %}
