{% extends 'base.html.twig' %}

{% block title %}Edit defaults{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Defaults</h1>

    {{ include('initial/_form.html.twig') }}
</div>
{% endblock %}
